---
title : Github Projects
layout : projects
projects :
 - link: 2048_AI 
   title: 2048 A.I.
   descr: 2048 AI emulating the Architecture of Google Deepmind
 - link: AudioLocalizer
   title: Audio Localizer
   descr: Audio Localizer
 - link: Lin1_Project
   title: 3D Reconstruction
   descr: 3D Reconstruction
 - link: DigitParser
   title: Digit Parser
   descr: Neural Network Digit Recognition
 - link: U_ML 
   title: Machine-Learning
   descr: Udacity Machine-Learning Nanodegree Program
 - link: OlinScheduler
   title: Olin Scheduler 
   descr: Automated Data Collection and GUI for Easier Scheduling
 - link: Composer
   title: Composer
   descr: Visual Music Composition Application
 - link: Orchestrator
   title: Orchestrator
   descr: Rehearsal Schedule Coordination Application

---
<div class="slideshow-container">
	{% for project in page.projects %}
	<div class="mySlide fade Project">
		<a href="github.com/yycho0108/"{{project.link}}>{{project.title}}</a>
		<p> {{project.descr}} </p>
		<iframe src= {{ project.link }}></iframe>
	</div>
	{% endfor %}
	<a class="prev" onclick="showSlide(slideIndex-1)">&#10094;</a>
	<a class="next" onclick="showSlide(slideIndex+1)">&#10095;</a>
</div>

<div style="text-align:center">
	{% for project in page.projects %}
	<span class="dot" onclick="showSlide({{ forloop.index0 }})"></span> 
	{% endfor %}
</div>
