---
title : Github Projects
layout : projects
projects :
 - link: AudioLocalizer
   descr: Audio Localizer
 - link: Lin1_Project
   descr: 3D Reconstruction
 - link: DigitParser
   descr: Neural Network Digit Recognition
 - link: U_ML 
   descr: Udacity Machine-Learning Nanodegree Program
 - link: OlinScheduler
   descr: Olin Scheduler Application
 - link: Composer
   descr: Visual Music Composition Application
 - link: Orchestrator
   descr: Rehearsal Schedule Coordination Application

---
<div class="slideshow-container">
	{% for project in page.projects %}
	<div class="mySlide fade Project">
	   <iframe src= {{ project.link }} style="width : 800px; height : 800px"/>
	</div>
	{% endfor %}
	<a class="prev" onclick="showSlide(slideIndex-1)">&#10094;</a>
	<a class="next" onclick="showSlide(slideIndex+1)">&#10095;</a>
</div>

<div style="text-align:center">
	{% for project in page.projects %}
	<span class="dot" onclick="showSlide({{ forloop.index0 }})"></span> 
	{% endfor %}
</div>
