---
title : Index
layout : default
---

<p>I'm a rising sophomore at Olin College.</p>
<p>My core interests are Robotics -- all aspects of Robotics, encompassing software, electrical, and mechanical components, are fascinating to me.</p>
<p>My experiences include Machine Learning, Computer Vision, Computer Graphics, App Development, Robot Design/Fabrication, etc.</p>

{% assign languages = "C|C++|Python|Javascript|HTML|Bash|Java|MATLAB" | split: "|" %}
{% assign frameworks = "ROS|CUDA|MySQL|OpenGL|WebGL|MongoDB|Node/Express|QT|WINAPI|Android|Arduino" | split: "|" %}
{% assign fabrications = "Solidworks|3D Printing|Sheet Metal|Mill|Lathe|MIG Welder" | split: "|" %}

<ul>
	<li>
		<span>Languages</span>
		<ul>
			{% for language in languages %}
			<li>{{ language }}</li>
			{% endfor %}
		</ul>
	</li>

	<li>
		<span>Frameworks</span>
		<ul>
			{% for framework in frameworks %}
			<li>{{ framework }}</li>
			{% endfor %}
		</ul>
	
	</li>
	
	<li>
		<span>Fabrication</span>
		<ul>
			{% for fabrication in fabrications %}
			<li>{{ fabrication }}</li>
			{% endfor %}
		</ul>
	</li>

</ul>
