---
title : Intro
layout : default
---

<img src="images/profile.jpg"/>
<p>I'm a Rising Junior at Olin College of Engineering.</p>
<p>My core interests are Robotics -- all aspects of Robotics, encompassing software, electrical, and mechanical
    components, are fascinating to me.</p>
<p>My experiences include Machine Learning, Computer Vision, Computer Graphics, App Development, Robot
    Design/Fabrication, etc.</p>

{% assign languages = "C/C++|Python|Javascript|MATLAB|HTML|Bash|Java" | split: "|" %}
{% assign frameworks = "ROS|Tensorflow|CUDA|Android|OpenGL|WebGL|MySQL|MongoDB|AWS|Node/Express|QT|Arduino|WINAPI" | split: "|" %}
{% assign fabrications = "Solidworks|3D Printing|Sheet Metal|Mill(CNC/Manual)|Lathe|MIG Welder" | split: "|" %}

<ul>
    <li>
        <span>Languages</span>
        <ul>
            {% for language in languages %}
            <li>{{ language }}</li>
            {% endfor %}
        </ul>
    </li>

    <li>
        <span>Frameworks</span>
        <ul>
            {% for framework in frameworks %}
            <li>{{ framework }}</li>
            {% endfor %}
        </ul>

    </li>

    <li>
        <span>Fabrication</span>
        <ul>
            {% for fabrication in fabrications %}
            <li>{{ fabrication }}</li>
            {% endfor %}
        </ul>
    </li>

</ul>
