<span id='open-sidenav'>☰ Navigate</span>
<header class="site-header">
	<div class="wrapper">
		<div class="header">
			<table width="100%">
				<tr>
					<td style = "width: 10%; height : 100%"><a href="{{ site.baseurl }}/"><div id="profile" style="width: 100%;height: 100%"></div></a></td>
					<td style = "width: 40%; height : 100%"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></td>
				</tr>
			</table>
		</div>

		<div id="sidenav">
			<a href="javascript:void(0)" id="close-sidenav" onclick="closeNav()">×</a>
			<a class="page-link" href="index.html">Index</a>
			<a class="page-link" href="Academics">Academics</a>
			{% for page in site.pages %}
				{% if page.title%}
					{% if page.title != "Index" %}
						<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>


	</div>



</header>
