/* Side Navigation Bar */
#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
    box-shadow: 0px 1px 50px aquamarine;
}

#sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: aquamarine;
	display: block;
	transition: 0.3s
}

#sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

#close-sidenav {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}
#open-sidenav {
	position: fixed;
	box-shadow: 0px 1px 50px;
	z-index: 998;
	top: 10px;
	left: -10px;
	padding-left: 15px;
	font-size: 30px;
	background-color: #111;
	color: aquamarine;
	display: block;
	cursor: pointer;
	padding-right: 30px;
	border-radius: 10px;
}

@media screen and (max-height: 450px) {
	#sidenav {padding-top: 15px;}
	#sidenav a {font-size: 18px;}
}
