div.Project {
    display: inline-block;
	box-shadow: burlywood 1px 0px 50px;
    width: 800px;
    height: 500px;
    margin: auto;
    padding: 5%;
    border: 15px outset;
    background-color: #ccc7e4;
    font-family: monospace;
    border-color: darkblue;
    border-radius: 50px;
}

.Project a {
	text-decoration: none;
}
.Project a:hover{
	color: cornflowerblue;
}
.Project h2 {
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

div.Divider {
	width: 100%;
	height: 1px;
}

div.Intro {
	float: left;
	width: 50%;
	height: 90%;
	text-align: center;
	clear: left;
}
div.Intro img{
	max-width:100%;
	max-height:100%;
	border-radius:30px;
	border-width:10px;
	border-style:outset;
	border-color:#69424a;
}
div.Intro a {
	font-size: large;
}

div.Description {
	margin-left: 10%;
	float: left;
	width: 40%;
	height: 90%;
}
div.Tag{
	color: grey;
	float: right;
	margin-bottom: 10px;
}

