body{
    width:100%;
    height: 100%;
}
.emphasis{
    font-size: 120%;
    font-weight: bold;
}
div.header{
    height : 10%;
    width: 80%;
    background-color: black;
    border-width: 20px;
    border-style: double;
    border-color: white;
    font-weight: bold;
    font-size: 30px;
    color:white;
    padding: 20px;
    top : 0px;
}
div.banner{
    background-color : beige;
    border-color: red;
    border-width: thick;
    height: 30px;
    width:100%
}
div.content{
    float: top;
    background-color: aliceblue;
    height : 100%;
    width:30%
}
ul.banner{ /*Table Of Content*/
    position : relative;
    color:black;
    font-weight: bold;
    background: grey;
    margin: 0 auto;
    border-width: thick;
    border-color: aqua;
    list-style-type: none;
}
li.bannerItem{
    text-align: center;
    display : block;
    float: left;
    /*background-color:darkgray;*/
    font-family: sans-serif;
    color:black;
    border-width: thin;
    border-color: white;
    border-style: solid;
    /*margin: 5%;*/
    padding-left: 10px;
    padding-right: 10px;
}
li.bannerItem::after{
    float : top;
    content: ""
}
.dropdown{
    display: block;
    list-style-type: none;
    background-color: snow;
}
div.wrapper{
    display:table;
    width : 100%;
    height : 80%;
    margin : 2%
}
div.container{
    display : table-row;
    width : 80%;
    height : 100%;
    padding: 20px;
    overflow:auto;
}
div.nav{
    float : left;
    display : table-cell;
    background-color:lightcyan;
    height: 100%;
    width : 30%;
}
div.preview{
    float : left;
    display : table-cell;
    background-color:white;
    border-color: black;
    border-width: thin;
    height : 100%;
    width : 60%;
    overflow:auto;
}
div.footer{
    position:fixed;
    float:top;
    background-color: black;
    border-width: 20px;
    border-style: solid;
    border-color: white;
    color:white;
    bottom: 0px;
    width : 100%;
    padding : 10px;
}
#prev{
    height : 100%;
    width : 100%;
}