* {box-sizing: border-box;}

body {margin:0;font-family:Arial;}

.topnav-wrap{
    background-color : #72c4ff;
    width: 100%;
}

/* TOPNAV */
.topnav {
    overflow: hidden;
    background-color : #72c4ff;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #eeeeee;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #4178d8;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}
/* SEARCH */
.search-container {
    float: right;
    position: relative;
    display: inline-block;
    margin-right:10px;
    color:white;
}

.topnav-wrap input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav-wrap .search-autocomplete {
    position: absolute;
    display: block;
    z-index : 1;
    width:100%;
}

.topnav-wrap .search-autocomplete a{
    padding: 12px 16px;
    text-decoration: none;
    background-color:white;
    width:100%;
    display: none;
}

.topnav-wrap .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav-wrap .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav-wrap .search-container {
        float: none;
    }
    .topnav-wrap a, .topnav-wrap input[type=text], .topnav-wrap .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav-wrap input[type=text] {
        border: 1px solid #ccc;
    }
}